@model ProjetoIntegrador.Models.Anotacao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhar anotação</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descrição da anotação
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Voltar a listagem de anotações</a>
</div>
