@model ProjetoIntegrador.Models.Lembrete

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lembrete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="data" class="control-label">Data do lembrete</label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="texto" class="control-label">Texto do lembrete</label>
                <input asp-for="texto" class="form-control" />
                <span asp-validation-for="texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
